
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FIRST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/second">SECOND</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<style>
  .body {
    background-color: black;
    color:white;

  }
  .custom-title {
    background-color: black;
    color: yellow;
    padding: 10px;
    text-align: center;
  }
  .container {
    background-color: black;
    border-radius: 15px;
    padding: 20px;
  }
  .rounded-container {
    background-color: gray;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
  }
</style>
<body >
  <div class="container mt-5">
    <div class="custom-title">
      <h3>Question and Answer</h3>
      </div>

    <div class="rounded-container">
      <div class="row">
      <div class="col-12">
        <h4>1. How to create reactive forms?</h4>
        <p><strong>ANSWER:</strong><u>
          To create reactive forms in Angular, import ReactiveFormsModule
        and use FormGroup and FormControl to define the form's structure
      and validation, offering greater control over form behavior.</u></p>
      </div>
    </div>
    </div>

    <div class="rounded-container">
      <div class="row">
      <div class="col-12">
        <h4>2. How to add built-in validation for email reactive form? </h4>
        <p><strong>ANSWER:</strong><u>
          To add built-in email validation in a reactive form, use the 
          Validatiors.email along with Validators.required when defining
          the form control.
        </u></p>
      </div>
    </div>
  </div>

  <div class="rounded-container">
    <div class="row">
    <div class="col-12">
      <h4>3. How to add built-in validation for required fields in reactive form?</h4>
      <p><strong>ANSWER:</strong><u>
        To add built-in validation for required fields in a reactive form,
        use the Validators.required when defining the form control.
      </u></p>
    </div>
  </div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12">
    <h4>4. How to add regex validation for reactive forms?</h4>
    <p><strong>ANSWER:</strong><u>
      To add regex validation in a reactive form, use Validators.pattern with
      the desired regular expression when defining the form control.
    </u></p>
  </div>
</div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12"> 
    <h4>5. How to generate routing?</h4>
    <p><strong>ANSWER:</strong><u>
      To generate routing in Angular, use the command ng generate module 
      app-routing --flat --module=app to create a routing module and configure
      it in your application.
    </u></p>
  </div>
</div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12"> 
    <h4>6. How to configure routes with parameters?</h4>
    <p><strong>ANSWER:</strong><u>
      To configure routes with parameters, define a route with a parameter in the 
      path, like path: 'example/:id', and retrieve it in the component using 
      Angular's AtivatedRoute.
    </u></p>
  </div>
</div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12"> 
    <h4>7. What is DebounceTime in RxJS?</h4>
    <p><strong>ANSWER:</strong><u>
      debounceTimeinRxJS is an operator that delays the emission of values from an observable
      by a specified time, emitting only the most recent value within that timeframe.
    </u></p>
  </div>
</div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12"> 
    <h4>8. What is pipe operator?</h4>
    <p><strong>ANSWER:</strong><u>
      The pipe operatoris a method used to combine multiple operators in a readable and functional way,
      enabling transformation or handling of observable data.
    </u></p>
  </div>
</div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12"> 
    <h4>9. What is distinctUntilChanged operator?</h4>
    <p><strong>ANSWER:</strong><u>
      The distinctUntilChanged operator in RxJS filters out consecutive,
       emitting only when the current value differs from the previous one.
    </u></p>
  </div>
</div>
</div>

<div class="rounded-container">
  <div class="row">
  <div class="col-12"> 
    <h4>10. What is filter operator in RxJS?</h4>
    <p><strong>ANSWER:</strong><u>
      The filter operator in RxJS allows you to emit values from an observable only
      if they satisfy a specified condition ot predicate.
    </u></p>
  </div>
</div>
</div>

  </div>
</body>

<footer>
  <div style="text-align: center; padding: auto; background-color: #333; color: white;">
    <p>Terado, Braily D. BSIT-3B</p>
  </div>
</footer>

